./.*
*.pyc
*.log
*.DS_Store
*.vscode/
*.egg-info/
__pycache__/
.terraform/
.terraform.lock.hcl
*.tfstate
*.tfstate.backup
.pytest_cache/
logs/
temp/
.python-version
.ipynb_checkpoints/
.env
.vscode/
.claude/
CLAUDE.md
results/
.venv/
.python-version